@import '~src/assets/scss/global/variables';
@import '~src/assets/scss/global/text-mixins';

.body-main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 200px);
  background-color: $lightgrey;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1260px;
    min-height: calc(100vh - 200px);
    padding: 20px 0;
    background-color: $white;
  }
}

.editor {
  width: calc(100% - 60px);
  margin: 0 30px;
}

.news-container {
  width: calc(100% - 60px);
  margin: 15px 30px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 24px;
    margin-bottom: 10px;
    background-color: $dirtywhite;
    background-image: url('../../assets/images/pattern.png');
    box-sizing: border-box;

    &.__h28 {
      height: 28px;
    }
  }

  &__label {
    @include block-header-bold();
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    background-color: $white;

    &.__font24 {
      @include header-bold();
    }
  }

  &__content {
    min-height: 90px;
    padding: 15px 0;
    border: 1px solid $lightgrey;

    &.__paddinglr15 {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &.__m-bottom30 {
    margin-bottom: 30px;
  }

  &.__preview {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.text-window {
  @include main-text();
  margin: 0 30px;
}

.save-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: calc(100% - 60px);
  height: 40px;
  margin: 0 30px;
}

.save {
  width: 40px;
  height: 40px;
  margin: 0;
  color: $black;
  cursor: pointer;

  &:hover {
    color: $grey;
  }
}

