<div class="body-main">
  <div class="body-main__container">
    <div class="default-container __m-bottom30">
      <div class="default-container__header __h28">
        <span class="default-container__label __font24">Заголовок</span>
      </div>
      <div class="default-container__content __paddinglr15">
        <ckeditor [(ngModel)]="preview"
                  [config]="{ autoParagraph: false, entities: false }"
                  (change)="onValidate()"
                  debounce="500">
        </ckeditor>
        <div class="default-container __preview">
          <div class="default-container__header">
            <span class="default-container__label">Предварительный просмотр</span>
          </div>
          <div class="default-container__content">
            <div class="text-window">
              {{preview}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="default-container __m-bottom30">
      <div class="default-container__header __h28">
        <span class="default-container__label __font24">Краткое описание</span>
      </div>
      <div class="default-container__content __paddinglr15">
        <ckeditor [(ngModel)]="shortDescription"
                  [config]="{ autoParagraph: false, entities: false }"
                  (change)="onValidate()"
                  debounce="500">
        </ckeditor>
        <div class="default-container __preview">
          <div class="default-container__header">
            <span class="default-container__label">Предварительный просмотр</span>
          </div>
          <div class="default-container__content">
            <div class="text-window">
              {{shortDescription}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="default-container __m-bottom30">
      <div class="default-container__header __h28">
        <span class="default-container__label __font24">Подробное описание</span>
      </div>
      <div class="default-container__content __paddinglr15">
        <ckeditor [(ngModel)]="fullDescription"
                  [config]="{ autoParagraph: false, entities: false }"
                  (change)="onValidate()"
                  debounce="500">
        </ckeditor>
        <div class="default-container __preview">
          <div class="default-container__header">
            <span class="default-container__label">Предварительный просмотр</span>
          </div>
          <div class="default-container__content">
            <div class="text-window">
              <app-text-window  [text]="fullDescription"></app-text-window>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="save-container">
      <span class="error" *ngIf="showError">Заполните все поля!</span>
      <mat-icon svgIcon="save" class="save" (click)="save()"></mat-icon>
    </div>

  </div>
</div>
