@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg'),
  url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
  url('/assets/fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/assets/fonts/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg'),
  url('/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
  url('/assets/fonts/Roboto/Roboto-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
