@import '~src/assets/scss/global/variables';

.tooltip {
  display: inline-block;
  position: relative;
  border-bottom: 1px dotted $black;
}

.tooltip .tooltiptext {
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  padding: 5px 10px;
  transition: opacity .3s;
  border-radius: 6px;
  background-color: $grey;
  color: $white;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $grey transparent transparent transparent;
  content: '';
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}
