@import '~src/assets/scss/global/variables';
@import '~src/assets/scss/global/text-mixins';

.item-container {
  width: calc(100% - 100px);
  min-height: 120px;
  margin: 15px 30px;
  padding: 20px;
  transition: all .3s;
  border-radius: 2px;
  background: linear-gradient(0deg, $black, $lightgrey 33%);
  color: $white;
  cursor: pointer;

  &:hover {
    transition: all .3s;
    background: linear-gradient(0deg, $grey, $dirtywhite 33%);
    color: $black;
  }
}

.item-preview {
  @include block-header-bold();
  margin-bottom: 40px;
}

.item-description {
  @include main-text();
}
