<div class="app-header">
  <div *ngIf="!isMainPage()"></div>
  <div class="search" *ngIf="isMainPage()">
    <mat-form-field appearance="standard" class="search__field">
      <mat-icon svgIcon="search" class="search__field-icon"></mat-icon>
      <input class="search__field-input"
             matInput
             placeholder="Поиск"
             autocomplete="off"
             [(ngModel)]="filter"
             (keyup)="onSearch(filter)">
    </mat-form-field>
    <div class="dropdown__container" [class.hidden]="!searchResults.length">
      <div class="dropdown__results" *ngFor="let searchResult of searchResults">
        <app-search-item [searchItem]="searchResult" [searchString]="filter" (click)="getDetails(searchResult.id)"></app-search-item>
      </div>
    </div>
  </div>

  <div class="app-header__login-container" *ngIf="!isAuthorized">
    <mat-icon svgIcon="account_box" class="app-header__login" (click)="openLoginDialog()"></mat-icon>
  </div>
  <div class="app-header__login-container" *ngIf="isAuthorized" >
    <div>
      <span class="app-header__login">{{currentUserLogin}}</span>
      <div class="app-header__btn" (click)="addNewsItem()">
        <mat-icon svgIcon="add" class="app-header__icon"></mat-icon>
        Предложить новость
      </div>
      <div class="app-header__btn" (click)="toMainPage()" *ngIf="!isMainPage()">
        <mat-icon svgIcon="backspace" class="app-header__icon"></mat-icon>
        На главную
      </div>
    </div>
    <mat-icon svgIcon="exit_to_app" class="app-header__login" (click)="logout()"></mat-icon>
  </div>
</div>
