@import '~src/assets/scss/global/variables';
@import '~src/assets/scss/global/text-mixins';

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: $black;

  &__login-container {
    @include main-text();
    display: flex;
    align-items: center;
    color: $white;
  }

  &__login {
    width: 40px;
    height: 40px;
    margin: 20px;
    color: $white;
    cursor: pointer;

    &:hover {
      color: $dirtywhite;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 202px;
  height: 40px;
  margin-left: 10px;
  padding: 10px 16px;
  border: solid 1px rgba($black, .38);
  border-radius: 4px;
  background-color: $dirtywhite;

  &__field {
    width: 200px;
    color: rgba($black, .5);

    &-icon {
      position: absolute;
      bottom: 4px;
      left: 7px;
    }

    &-input {
      padding-left: 36px;
    }
  }
}

.dropdown {
  &__container {
    position: absolute;
    top: 30px;
    left: 0;
    width: 70vw;
    min-height: 100px;
    margin-top: 40px;
    margin-left: 10px;
    transition: height .5s ease;
    border: 1px solid $lightgrey;
    border-radius: 4px;
    background-color: $dirtywhite;
    overflow: hidden;
    z-index: 5;

    &.hidden {
      min-height: 0;
      margin-top: 40px;
      margin-left: 10px;
      transition: height .5s ease;
      border: 0;
    }
  }

  &__results {
    @include smallpost-content();
    margin: 20px;
    color: $darkgrey;
    cursor: pointer;

    &:hover {
      color: $darkblue;
    }
  }

}
