@import '~src/assets/scss/global/text-mixins';
@import '~src/assets/scss/global/variables';

.search-item {
  @include smallpost-content();
  margin: 20px;
  color: $darkgrey;
  cursor: pointer;

  &:hover {
    color: $darkblue;
  }
}
