<div class="body-main">
  <div class="body-main__container">

    <div class="default-container">
      <div class="default-container__header">
        <span class="default-container__label">Последние новости</span>
      </div>
      <div class="default-container__content">

        <cdk-virtual-scroll-viewport itemSize="160" class="scroll-viewport">
          <div *ngIf="!newsItems.length">
            <ngx-skeleton-loader count="3"
                                 [theme]="{
                                          'border-radius': '0',
                                          height: '160px',
                                          width: 'calc(100% - 60px)',
                                          margin: '7px 30px'
                                        }"
            ></ngx-skeleton-loader>
          </div>
          <div *ngIf="newsItems.length">
            <div *cdkVirtualFor="let newsItem of newsItems">
              <app-news-item [newsItem]="newsItem"></app-news-item>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>

      </div>
    </div>

    <div class="default-container">
      <div class="default-container__header">
        <span class="default-container__label">Контакты редакции</span>
      </div>
      <div class="default-container__content">
        <app-editoral-contacts></app-editoral-contacts>
      </div>
    </div>
  </div>
</div>
