.mat-button,
.mat-icon-button,
.mat-button[disabled] {
  &.__blue {
    background-color: $lightblue;
    color: $white;
    transition: background-color .2s;
    font-size: 14px;

    &:hover:not([disabled]) {
      background-color: rgba($lightblue, .8);
    }
  }

  &.__w-full {
    width: 100%;
  }

  &[disabled] {
    background-color: rgba($black, .12) !important;
    color: $white !important;
    border: none !important;
  }
}
