@import '~src/assets/scss/global/text-mixins';
@import '~src/assets/scss/global/variables';

.mat-button,
.mat-icon-button,
.mat-button[disabled] {
  @include button();

  &.__blue {
    transition: background-color .2s;
    background-color: $lightblue;
    color: $white;
    font-size: 14px;

    &:hover:not([disabled]) {
      background-color: rgba($lightblue, .8);
    }
  }

  &.__w-full {
    width: 100%;
  }

  &[disabled] {
    border: 0;
    background-color: rgba($black, .12);
    color: $white;
  }
}
